name: build

on:
  push:
    branches:
      - main
      - dev_k

jobs:
  R-CMD:
    runs-on: ubuntu-latest
    name: ubuntu (R 4.3)

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GH_PAT_RFASST }}

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2-branch
        with:
          r-version: '4.3.3'
          use-public-rspm: true
      - uses: r-lib/actions/setup-pandoc@v2-branch
      - uses: r-lib/actions/setup-tinytex@v2-branch


      - name: Install libraries
        if: startsWith(matrix.config.os, 'ubuntu')
        run: |
          sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          sudo apt-get install -y curl libcurl4-openssl-dev libssl-dev libxml2-dev libudunits2-dev libgdal-dev libgeos-dev libproj-dev libmagick++-dev libavfilter-dev pkg-config

      - name: Install dependencies 1
        run: |
          install.packages("curl", repos = "https://cloud.r-project.org")
          install.packages(c("remotes", "rcmdcheck"), repos = "https://cloud.r-project.org")
        shell: Rscript {0}

      - name: Install dependencies 2
        run: |
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Check
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--ignore-vignettes", "--no-build-vignettes"), build_args = c("--no-manual", "--ignore-vignettes", "--no-build-vignettes"), error_on = "error")
        shell: Rscript {0}